<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Lamda_Demo">
  <test name="Test">
    <classes>
      <class name="com.test.lamda.test_case.RegistrationTest"/>
      <class name="com.test.lamda.test_case.LoginTest"/>
      <class name="com.test.lamda.test_case.HomeTest"/>
      <class name="com.test.lamda.test_case.ShopByCategoryTest"/>
    </classes>
  </test> 
</suite> 
